/* toute la page*/
body{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(142, 181, 226);
}
/*l'entête de la page*/
header{
    background-color: rgb(56, 55, 55);
    color: white;
    padding: 10px 20px; /*gere l'espace*/
    display: flex; /* mettre sur la meme ligne*/
    justify-content: space-between; /*mettre a droite*/
    align-items: center;
}
/*mise en forme du nav*/
nav a {
    text-decoration: none;
    padding: 5px;
    font-size: x-large;
    font-style: italic;
    color: white;
}
/*misee en forme pour le logo*/
.logo{
    font-size: xx-large;
    font-style: italic;
}
/*mise en forme pour le titre*/
h1{
    text-align: center;
    font-size: xx-large;
}
h2{
    font-size: xx-large;
    text-align: center;
}
/*mise en forme pour le paragraphe*/
p{
    font-size: x-large;
    text-align: center;
}
/* le mise en forme du bouton*/
button{
    background-color:  rgb(142, 181, 226);
    font-size: x-large; 
}
/* le pied de la page*/
footer{
    background-color: rgb(56, 55, 55);
    text-align: center;
    color: white;
    font-size: xx-large;
    font-style: italic
}
input{
    align-self: center;
}